﻿@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import "../js/libs/@angular/material/core/theming/prebuilt/indigo-pink.css";
body{
    background: #fafafa;
}

md-input{
    width: 100%;
}

.navbar{
    background: #3F51B5;
}
.navbar a{
    color: #fff!important;
}
.card-item{
    margin-bottom: 30px;
}
md-card-header md-card-title{
    margin-bottom: 6px;
}
.card-image{
    width: calc(100% + 48px);
    margin: 0 -24px 16px -24px;
    height: 200px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
md-card-header [md-icon-button] {
    margin-left: auto;
}
md-card-content {
    .desc{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
.pace .pace-activity {
    right: auto;
    left: 15px;
    top: 18px;
}
#header-navbar li.profile {
    a{
        font-size: 0.875em;
        padding: 8px 18px 7px 18px;
        color: #484848;
        border: none;
        border-radius: 0;
        background-clip: padding-box;
        cursor: pointer;
        line-height: 35px;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        md-icon{
            vertical-align: middle;
        }
        &:hover{
            background: #303F9F;
        }
    }
    img{
        border-radius: 50%;
        background-clip: padding-box;
        float: left;
        height: 35px;
        margin-right: 5px;
        width: 35px;
        border: 2px solid #fff;
    }
}
.md-overlay-container{
    z-index: 1001;
}
.wrapper.lk{
    background: #fff;
    .btn-group-justified{
        margin-bottom: 15px;
    }
    .content{
        padding: 10px;
    }
}
.form-pad{
    padding: 0 20px 20px 20px;
}
md-slider{
    width: 100%;
    .md-slider-track-fill{
        background: #f44336;
    }
    .md-slider-thumb::after{
        background: #f44336;
        border-color: #f44336;
    }
}
.navbar-default .navbar-nav > li > a[md-raised-button]{
    box-shadow: none;
    border-radius: 0;
    outline: none;
    &:hover, &:focus{
        background: #E53935;
    }
}
.price-filter{
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 2px;
    .md-slider-wrapper{
        padding-left: 0;
    }
    h4, p{
        font-weight: 700;
    }
    p{
        span{
            color: #f44336;
        }
    }
}
.list-group-item{
    &:first-child{
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    &:last-child{
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
}
.category-detail-bg{
    &:after{
        content: '';
        background: #000;
    }
}
.navbar-brand{
    padding-top: 5px;
    padding-bottom: 0;
}
add-resume md-spinner{
    width: 15px!important;
    height: 25px!important;
    display: inline-block!important;
    vertical-align: middle;
    path {
        stroke: #f44336;
    }
}
.navbar-default{
    border: none;
}
.category-detail-bg{
    position: relative;
    margin-top: -20px;
    margin-bottom: 20px;
    height: 430px;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    h1{
        color: #fff;
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding: 30px 10px;
        text-align: center;
        background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1));
        background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1));
        background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1));
        background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    }
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus{
    background-color: #3f51b5;
    border-color: #3f51b5;
    .badge{
        color: #3f51b5;
    }
}