<div class="list-group">    <a href="#" class="list-group-item"       *ngFor="let category of categories"       [routerLink]="['/category', category.alias]"       [routerLinkActive]="['active']">        {{category.name}} <span class="badge">{{category.resumes.length}}</span>    </a></div>