﻿<div class="row">
    <div class="col-sm-12">
        <form (submit)="login(loginUser, $event);">
            <h2>Авторизация</h2>
            <hr />
            <md-input [(ngModel)]="loginUser.email" name="email" placeholder="Логин (e-mail)" required></md-input>
            <md-input [(ngModel)]="loginUser.password" type="password" name="password" placeholder="Пароль" required></md-input>
            <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
            <button md-raised-button color="primary">Войти</button>
        </form>
    </div>
</div>